# Ignore the compiled binaries folder
bin/

# Ignore Eclipse project settings
.DS_Store
.classpath
.project
.settings/
.factorypath
.metadata/

#Ignore logs
*.log*

#Ignore the contents of the maven target/ folder
target/

#Ignore sentinel.yml configuration
conf/sentinel.yml